{% extends 'home.html' %}

{% block main_content %}

<div class="pageContainer">
    <h2> Cliff Walking</h2>

    <div class="imageContainer">
        <img src= "{{ url_for('static', filename='uploads/cliffWalking.png') }}">
    </div>

    <p>The following parameters should achieve an optimal policy. Play around with the parameters to see how
    the result changes!</p>

    <h3> Q-Learning</h3>
    <p>Episodes = 10,000+</p>
    <p>Epsilon = 0.1</p>
    <p>Learning Rate = 0.1</p>
    <p>Discount Factor = 1</p>

    <h3> SARSA</h3>
    <p>Episodes = 10,000+</p>
    <p>Epsilon = 0.1</p>
    <p>Learning Rate = 0.1</p>
    <p>Discount Factor = 1</p>
</div>

<br>

<div class="pageContainer">
    <h2> Frozen Lake</h2>

    <div class="imageContainer">
        <img src= "{{ url_for('static', filename='uploads/frozenLake.png') }}">
    </div>

    <p>The following parameters should achieve an optimal policy. Play around with the parameters to see how
    the result changes!</p>

    <h3> Q-Learning</h3>
    <p>Episodes = 10,000+</p>
    <p>Epsilon = 1</p>
    <p>Learning Rate = 0.9</p>
    <p>Discount Factor = 0.9</p>

    <h3> SARSA</h3>
    <p>Episodes = 10,000+</p>
    <p>Epsilon = 0.9</p>
    <p>Learning Rate = 0.1</p>
    <p>Discount Factor = 0.9</p>
</div>

<br>

<div class="pageContainer">
    <h2> Mountain Car</h2>

    <div class="imageContainer">
        <img src= "{{ url_for('static', filename='uploads/mountainCar.png') }}">
    </div>

    <p>The following parameters should achieve an optimal policy. Play around with the parameters to see how
    the result changes!
    </p>

    <h3> Q-Learning</h3>
    <p>Episodes = 5000+</p>
    <p>Epsilon = 0.2</p>
    <p>Learning Rate = 0.1</p>
    <p>Discount Factor = 0.9</p>

    <h3> SARSA </h3>
    <p>Episodes = 5000+</p>
    <p>Epsilon = 0.2</p>
    <p>Learning Rate = 0.1</p>
    <p>Discount Factor = 0.9</p>

</div>

{% endblock %}