<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>Reinforcement Learning Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <div class="header-container">
            <h1>Reinforcement Learning Simulator</h1>
        </div>

        <div class="overlay-container">
            <nav class="navbar">
                <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/environments">Environments</a></li>
            <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <!-- Additional content for the overlay container -->
        </div>

        {% block main_content %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>

        <div class="form-render-container">
            <div class="form-container">
                <!-- form elements go here -->
                  <form id="simulationForm" onsubmit="return validateForm() && handleFormSubmission()">

                      <div class="radio-group">
                      <label>Select Environment:</label>
                      {% for key, value in environments.items() %}
                          <label>
                              <input type="radio" id="environment_{{ key }}" class="environment-radio" name="environment" value="{{ key }}">
                              {{ value }}
                          </label>
                      {% endfor %}
                      </div>

                  <span id="environmentError" style="color: red; display: none;">Please enter an environment.</span>

                  <br><br>

                      <div class="radio-group">
                          <label>Select Algorithm:</label>
                            {% for key, value in algorithms.items() %}
                                <label>
                                <input type="radio" id="algorithm_{{ key }}" class="algorithm-radio" name="algorithm" value="{{ key }}">
                                {{ value }}
                                </label>
                            {% endfor %}
                      </div>

                  <span id="algorithmError" style="color: red; display: none;">Please enter an algorithm.</span>

                  <br><br>

                  <label for="episodes">Number of Episodes:</label>
                  <input type="number" placeholder="Enter a number of episodes for training." name="episodes" id="episodes" value="{{ episodes }}" >
                  <span id="episodesError" style="color: red; display: none;">Please enter a valid number of episodes.</span>

                  <br><br>

                  <label for="epsilon">Epsilon:</label>
                  <input type="number" placeholder="Enter a value of epsilon from 0 to 1." name="epsilon" id="epsilon" value="{{ epsilon }}" step="any">
                  <span id="epsilonError" style="color: red; display: none;">Please enter a value that is greater than 0 but no greater than 1 .</span>

                  <br><br>

                  <label for="learning_rate">Learning Rate:</label>
                  <input type="number" placeholder="Enter a value of a learning rate (alpha) from 0 to 1." name="learning_rate" id="learning_rate" value="{{ learning_rate }}" step="any">
                  <span id="learning_rateError" style="color: red; display: none;">Please enter a value that is greater than 0 but no greater than 1 .</span>

                  <br><br>

                  <label for="discount_factor">Discount Factor:</label>
                  <input type="number" placeholder="Enter a value of a discount factor (gamma) from 0 to 1." name="discount_factor" id="discount_factor" value="{{ discount_factor }}" step="any">
                  <span id="discount_factorError" style="color: red; display: none;">Please enter a value that is greater than 0 but no greater than 1 .</span>

                  <br><br>

                  <label for="mode">Mode:</label>
                  <select name="mode" id="mode">
                      <option value="" disabled selected>Select a mode.</option>
                      <option value="train">Training</option>
                      <option value="test">Test</option>
                  </select>

                  <br><br>

                  <!--Submit button-->
                  <input type="submit" value="Run Simulation">

                  <!-- Reset button -->
                  <button type="reset" onclick="resetForm()">Reset Form</button>

              </form>

            </div>

            <div class="render-container">

                <h2>Results</h2>
                <!-- video or plot will load here -->
                <!-- Spinner element -->
                <div id="spinner" class="spinner">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>

                <p style="color: red"> Make sure a training simulation is done and renders a plot before running the
                simulation in test mode. <a href="/about">Click here</a> to see a trial run.</p>

                <div id="output-content">
                <div id="result"></div>

                </div>

        </div>

        </div>

    </div>


    <script>
        function validateForm() {
            var environmentInputs = document.querySelectorAll('.environment-radio');
            var environmentError = document.getElementById("environmentError");
            var selectedEnvironment = false;

            var algorithmInputs = document.querySelectorAll('.algorithm-radio');
            var algorithmError = document.getElementById("algorithmError");
            var selectedAlgorithm = false;

            var episodesInput = document.getElementById("episodes");
            var episodesError = document.getElementById("episodesError");

            var epsilonInput = document.getElementById("epsilon")
            var epsilonError = document.getElementById("epsilonError")

            var learningRateInput = document.getElementById("learning_rate")
            var learningRateError = document.getElementById("learning_rateError")

            var discountFactorInput = document.getElementById("discount_factor")
            var discountFactorError = document.getElementById("discount_factorError")

            environmentInputs.forEach(function(input) {
                if (input.checked) {
                    selectedEnvironment = true;
                }
            });

            if (!selectedEnvironment) {
                environmentError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            } else {
            environmentError.style.display = "none"; // Hide the error message
            }

            algorithmInputs.forEach(function(input) {
                if (input.checked) {
                    selectedAlgorithm = true;
                }
            });

            if (!selectedAlgorithm) {
                algorithmError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            } else {
            algorithmError.style.display = "none"; // Hide the error message
            }

            // Check if the value of the "Number of Episodes" input field is empty or less than 1
            if (episodesInput.value === "" || parseInt(episodesInput.value) < 1) {
                episodesError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            }
            else {
                episodesError.style.display = "none"; // Hide the error message
                }

            // Check if the value of the "Epsilon" input field is empty or less than 0
            var epsilonValue = parseFloat(epsilonInput.value)
            if (epsilonInput.value === "" || epsilonValue <= 0 || epsilonValue > 1) {
                epsilonError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            } else {
                epsilonError.style.display = "none"; // Hide the error message
            }

            var learningRateValue = parseFloat(learningRateInput.value)
            if (learningRateInput.value === "" || learningRateValue <= 0 || learningRateValue > 1) {
                learningRateError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            } else {
                learningRateError.style.display = "none"; // Hide the error message
            }

            var discountFactorValue = parseFloat(discountFactorInput.value)
            if (discountFactorInput.value === "" || discountFactorValue <= 0 || discountFactorValue > 1) {
                discountFactorError.style.display = "block"; // Show the error message
                return false; // Prevent form submission
            } else {
                discountFactorError.style.display = "none"; // Hide the error message
            }

            return true; // Allow form submission
        }

        // JavaScript to show/hide spinner
        function showSpinner() {
            document.getElementById("spinner").style.display = "block";
        }

        function hideSpinner() {
            document.getElementById("spinner").style.display = "none";
        }

        // Call showSpinner() when background process starts
        // Call hideSpinner() when background process completes

        function handleFormSubmission() {
            var mode = document.getElementById("mode").value;
            var form = document.getElementById("simulationForm");

            // Prepare form data
            var formData = new FormData(form);

            // Set the route based on the selected mode
            var route;
            if (mode === "train") {
            route = "/simulate"; // Route for training mode
            } else if (mode === "test") {
                route = "/testing"; // Route for testing mode
            }

            showSpinner()
            // Make the fetch request
            fetch(route, {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.text();
            })
            .then(data => {
                hideSpinner()
                // Insert the response HTML into the current document
                document.getElementById("result").innerHTML = data;
            })
            .catch(error => {
                hideSpinner()
                // Handle error
                console.error("Error:", error);
            });

            // Prevent the default form submission
            return false;
        }


        function resetForm() {
            document.getElementById("simulationForm").reset();

            // Clear cookies
            var cookies = document.cookie.split("; ");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            }

            // Clear browser cache
            window.location.reload(true); // Force reload to clear cache

            // Delay the redirection by 100 milliseconds (adjust as needed)
            setTimeout(function() {
                window.location.href = "/"; // Redirect to the main route
            }, 100);
        }
    </script>

        {% endblock %}

</body>

</html>
















































